<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>books</title>
  </head>
  <body>
    <form action="http://localhost:5000/books" , method="POST">
      <input type="text" , name="search" />
      <button type="submit">검색</button>
    </form>

    <% for (let i in result) { %>
    <article>
      <header>
        <img
          src="https://cdn.pixabay.com/photo/2018/01/03/09/09/book-3057904_960_720.png"
          alt=""
          ,
          width="100"
        />
        <form action="http://localhost:5000/book_detail" , method="get"></form>
        <h1 name="book"><%=result[i].book_name%></h1>
        <a href="/book_detail">상세보기</a>

        <input type="hidden" id="data" value="<%result[i].book_id%>" />
      </header>
    </article>
    <% } %>
  </body>
  <script>
    var data = document.getElementById("data");
    document.data.submit();
  </script>
</html>
