doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Main
    body 
        nav 
            p #{user}님 환영합니다!
            //- a.active(href="/logIn") 로그인 
            a.active(href="/cart") 장바구니
            br
            a.active(href="/order_history") 주문내역
            br
            a.active(href="/books") 도서 보기
            br
            a.active(href="/logout") 로그아웃

            
            