<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main</title>
  </head>
  <body>
    <nav>
      <p><%=data%></p>
      <% if (!isLoggedIn) { %>
      <a href="/logIn">로그인</a>
      <% } %>
      <br />
      <a href="/cart">장바구니</a>
      <br />
      <a href="/order_history">주문내역</a>
      <br />
      <a href="/books">도서보기</a>
      <br />
      <a href="/logout">로그아웃</a>
      <br />
    </nav>
  </body>
</html>
